<%- include('partials/header'); %>
    <h1>Contact Us</h1>
    <h3>How to contact The Bravehearts </h3>

    <strong><p class="top-content"><%= contactContent %></p></strong>
<%- include('partials/footer'); %>
